<!-- TODO change the styling  of this form that renders on organizations/index-->
<%= form_for :organization, method: :get, url: organizations_path, class: "form-horizontal" do |f| %>
  <fieldset class="row">
    <div class="col-xs-8">
      <%= f.text_field :search_name, class: "form-control form-horizontal", placeholder: "Search by name" %>
    </div>
    <div class="col-xs-4">
      <%= f.submit 'Search by name', class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<%= form_for :tags, method: :get, url: organizations_path do |f| %>
<fieldset class="row">
  <div class="col-xs-8">
    <%= f.collection_select(
      :tag_ids,
      Tag.order(:name),
      :id,
      :name,
      {},
      {
        multiple: true,
        class: 'chosen-select'
        }
        ) %>
  </div>
  <div class="col-xs-4">
    <%= f.submit 'Search by tag', class: "btn btn-primary" %>
  </div>
</fieldset>
<% end %>

<%= form_for :organization, method: :get, url: organizations_path do |f| %>
<fieldset class="row">
  <div class="col-xs-8">
    <%= f.text_field :tech_size, class: "form-control", placeholder: "Search by Tech Team Size" %>
  </div>
  <div class="col-xs-4">
    <%= f.submit 'Search by Team Size', class: "btn btn-primary" %>
  </div>
</fieldset>
<% end %>
