<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <%= image_tag organization.logo %>
        <div class="card-body">
          <p class="card-title"><%= link_to 'Show', organization.name %></p>
          <p class="card-text"><%= organization.tech_team_size %> employees</p>
          <p class="card-text"><%= link_to 'Edit', edit_organization_path(organization) %></p>
          <p class="card-text"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Organization', new_organization_path %>
