<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Overview</th>
      <th>Employees</th>
      <th>Tech team size</th>
      <th>Website</th>
      <th>Twitter</th>
      <th>Logo</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.address %></td>
        <td><%= organization.overview %></td>
        <td><%= organization.employees %></td>
        <td><%= organization.tech_team_size %></td>
        <td><%= organization.website %></td>
        <td><%= organization.twitter %></td>
        <td><%= organization.logo %></td>
        <td><%= organization.published %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%#= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
