<% if @organization.logo.present? %>
  <%= image_tag(@organization.logo, class:"img-responsive center-block") %>
<% else %>
  <%= image_tag('placeholder.png', class:"img-responsive center-block") %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @organization.overview %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @organization.employees %>
</p>

<p>
  <strong>Tech team size:</strong>
  <%= @organization.tech_team_size %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @organization.twitter %>
</p>

<p>
  <strong>Published:</strong>
  <%= @organization.published %>
</p>

<p><h3>Update Organization</h3></p>
<%= render 'edit_form' %>

<p><%= link_to 'Delete Organization', organization_path(@organization),
                        method: :delete, data: {confirm: 'Are you sure?'} %></p>

<%= link_to 'Back', organizations_path %>
