<div class="row justify-content-center">
  <div class="section-header text-center">
    <h2 class="title">Organization</h2>
  </div>

  <% if @organization.logo.present? %>
  <%= image_tag(@organization.logo, class:"img-responsive center-block") %>
<% else %>
  <%= image_tag('placeholder.png', class:"img-responsive center-block") %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @organization.overview %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @organization.employees %>
</p>

<p>
  <strong>Tech team size:</strong>
  <%= @organization.tech_team_size %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @organization.twitter %>
</p>

<p>
  <strong>Published:</strong>
  <%= @organization.published %>
</p>
<% if can?(:crud, @organization) %>
  <p><h3>Update Organization</h3></p>
  <%= render 'edit_form' %>
<% end %>

<hr />

<div class="section-header text-center">
  <h2 class="title">Update Organization</h2>
</div>

<%= render 'edit_form' %>

<%= link_to 'Delete Organization', organization_path(@organization),
                        method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"  %>

<%= link_to 'Back', organizations_path, class: "btn btn-info" %>
</div>
