<%= render 'form', user: @user %>

<h1>Users</h1>
<table>
  <tbody>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Action</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><b><%= user.is_admin %></b></td>
        <td><%= link_to 'Delete', admin_user_path(user), method: :delete,
                                  data: {confirm: 'Are you sure?'} %></td>

      </tr>
    <% end %>
  </tbody>
</table>
