<div class="row justify-content-center">
  <div class="section-header text-center">
    <h2 class="title">Users (Admin)</h2>
  </div>

  <%= render 'form', user: @user %>

  <hr>

  <div class="section-header text-center">
    <h2 class="title">Users List</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin?</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user), method: :show %></td>
          <td><%= user.email %></td>
          <td><b><%= user.is_admin %></b></td>
          <td><%= link_to 'Delete', admin_user_path(user), method: :delete,
                                    data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
